*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(9, 146, 201);
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    background-color: white;
    border-radius: 10px;
    width: 70%;
    height: 30em;
    padding: 30px;
    margin: 6% auto;
}
@media (max-width: 600px) {
    .container{
        flex-direction: column;
        width: 90% !important;
        height: 92em;
        padding: 20px;
        margin: 5% auto !important;
    }
    .card{
        width: 100% !important;
        margin: 30px auto !important;
    }
    .vr{
        border: 1px solid rgb(9, 146, 201);
        margin: 20px 20px !important;
    }
}
@media (max-width: 300px) {
    .small-team{
        margin-bottom: 60px !important;
    }
}
.container article{
    text-align: center;
}
.container hr{
    width: 50%;
    margin: 10px auto;
    opacity: 20%;
}
.card{
    height: 24em;
    width: 30%;
}
.card h4{
    margin: 10px 0 40px;
    color: rgb(118, 133, 160);
}
.card p{
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
}
.card p,h1,h5{
    color: rgb(9, 146, 201);
}
.card h1{
    margin: 20px 0;
}
.card a{
    text-decoration: none;
}
.sign-up{
    padding: 12px 25px;
    color: rgb(9, 146, 201);
    border-radius: 10px;
    border: 1px solid rgb(9, 146, 201);
}
.sign-up:hover{
    color: white;
    background-color: rgb(9, 146, 201);
}
.free-trial{
    background-color: rgb(9, 146, 201);
    color: white;
    border-radius: 10px;
    padding: 12px 25px;
}
.free-trial:hover{
    color: rgb(9, 146, 201);
    border: 1px solid rgb(9, 146, 201);
    background-color: transparent;
}
.img-p{
    height: 7em;
    background-image: url(../images/img-personal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-st{
    height: 7em;
    background-image: url(../images/img-small-team.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-e{
    height: 7em;
    background-image: url(../images/img-enterprise.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vr{
    border: 1px solid grey;
    opacity: 20%;
    margin: 0 20px;
}